.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submissionContainer {
  opacity: 0;
  width: 100%;
  transition: opacity 0.2s;
  flex-basis: 50%;
}

.feedbackTitle {
  padding: 2em;
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.moodContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 50%;
}
