@font-face {
  font-family: Brandon Regular;
  src: url(../../assets/fonts/Brandon_reg.otf);
}

html, body {
  height: 100%;
  font-family: Brandon Regular;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  transition: background 0.2s;
  text-align: center;
  padding: 30px;
  overflow: hidden;
}

.innerContainer {
  height: 100%;
  background: white;
  position: relative;
  border-radius: 6px;
}
